:root {
  --peraColor: #c71414;
  --bodyColor: #89a5ce23;
  --priColor: #0d6efd;
  --secColor: #ff5522;
  --headerColor: #6a6a6a;
  --priFs: 46px;
  --secoFs: 24px;
  --peraFs: 15px;
  --whiteColor: #ffffff;
  //   Font Famaly  //
  --Font: "Open Sans", sans-serif;
}
